:root {
  /* Colors */
  --primary-color: #1d3557;
  --secondary-color: #a8dadc;
  --background-color: #457b9d;
  --text-color: #f1faee;
  --error-color: #f44336;

  /* Fonts */
  --font-family: 'Arial', sans-serif;
  --heading-font-size: 2rem;
  --text-font-size: 1rem;

  /* Spacing */
  --padding: 16px;
  --margin: 16px;

  /* Border Radius */
  --border-radius: 8px;

  /* Box Shadow */
  --box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  --secondary-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
